@import url ('https://fonts.googleapis.com/css2? family = Roboto + Condensed: wght @ 300 & display = swap'); 

body, html{
    height: 100%;
    margin: 5;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 90%;
    color: #444;
    text-align: center;
}
.foto1{
    background-image: url(images/foto1.jpg);
    min-height: 80%;
}
.foto2{
    background-image: url(images/foto2.jpg);
    min-height: 100%;
}
.foto3{
    background-image: url(images/foto3.jpg);
    min-height: 75%;
}
.foto4{
    background-image: url(images/foto4.jpg);
    min-height: 70%;
}
.foto1, .foto2, .foto3, .foto4{
    position: relative;
    opacity: 0.75;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.letrero{
    color: #fbfbfb;
    font-size: 550%;
    position: absolute;
    top: 50%;
}
.letrero2{
    color:#c73256;
    font-size: 450%;
    top: 57%;
}
.letrero3{
    color: #d12345d;
    font-side: 350%;
    top: 64%;
}
.letrero4{
    color: #fbfbfb;
    font-size: 250;
    top: 45%;
}
.letrero2, .letrero2, .letrero3, .letrero4{
    position: absolute;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 8px;
    text-shadow: o o 10px #000;
}
<section{
    padding: 50px 80px;
}
.dark{
    background-color: #444;
    color: #fff;
}
@media(max-width: 768px){
    .letrero{
        font-size: 300%;
    }
    .letrero2{
        font-size: 250%;
    }
    .letrero3{
        font-size: 200%;
    }
}
.footer {
    text-shadow: 10px #000;
}
